node_modules
.next
dist
build
.turbo
coverage
playwright-report
playwright/.cache
.env
.env.local
.env.*.local
*.log
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.cache
tsconfig.tsbuildinfo
*.pem
.vercel
.fly/
